{
    "presets": [
      ["env"]
    ],
    "plugins": [
      "lodash",
      "transform-decorators-legacy",
      "transform-class-properties",
      "transform-object-rest-spread",
      ["transform-runtime", {
        "regenerator": true,
        "polyfill": false,
        "helpers": false
      }]
    ]
  }